@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  @keyframes shine {
    0% {
      left: -150%;
    }
    100% {
      left: 150%;
    }
  }

  .animate-shine {
    animation: shine 3s linear infinite;
  }
  @keyframes showup {
    0% {
      top: -50%;
    }
    100% {
      top: 5;
    }
  }

  .animate-showup {
    animation: showup 1s ease-out forwards;
  }
  @keyframes showleft {
    0% {
      left: -50%;
    }
    100% {
      left: 50%;
    }
  }

  .animate-showleft {
    animation: showleft 1s ease-out forwards;
  }
   @keyframes showright {
    0% {
      right: -50%;
    }
    100% {
      right: 50%;
    }
  }

  .animate-showright {
    animation: showright 1s ease-out forwards;
  }

}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
html, body {
  overflow-x: hidden;
}

.container-scroll {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Oculta scrollbar sin quitar scroll */
.container-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.scroll-scroll::-webkit-scrollbar-thumb {
  background: transparent; /* hace el “pulgar” invisible */
}

.scroll-scroll::-webkit-scrollbar-track {
  background: transparent; /* fondo invisible */
}

/* Compatibilidad con Firefox */
.scroll-scroll {
  scrollbar-color: transparent transparent;
}
@media (max-height: 800px) {
  .hmd {
    height: 40%; 
    font-size: 15px;
  }
}
@media (max-height: 800px) {
  .pth {
    padding-top: 350px;
    
  }
}